#title{
  background-color: dimgray;
  text-align: center;
  padding: 5% 10% 0;

}
h1{
  color: paleturquoise;
  font-family: "Sacramento",sans-serif;
  font-size: 3em;
  font-weight: 900;
}
.h2{
  color: paleturquoise;
}
h2{
  color: #11999E;
  font-size: 2rem;
}
.cloud_img1{
  position: relative;
  left: 25%;
  
}
.cloud_img2{
  position: relative;
  left: 7%;
  bottom: 120px;
  

}
.mountain{
  position: relative;
  right: 25px;
}
@media (max-width: 650px) {
  .cloud_img1{
    position: relative;
    left: 45%;
    width: 90px;
  }
  .cloud_img2{
    position: absolute;
    right: 50%;
    bottom: 75%;
    width: 90px;
  }
  .mountain{
    width: 93%;
  }
}
/* --------------------profile---------------------------------- */

#profile{
  padding: 5% 10%;
  text-align: center;
  background-color: #EAF6F6;
  line-height: 2;
}

.profile_pic{
  background-color: #EAF6F6;
  border-radius: 100%;
  border: 2px solid #11999E;
  margin-bottom: 2%;
}

h3{
  color: #11999E;
  font-size: 1.5em;
}

/* --------------------------------skills------------------------------------------- */
#skills_section{
  text-align: center;
  padding: 5% 10%;
  background-color:#EAF6F6;
}

.skill_pic {
    background-color: #EAF6F6;
    width: 50%;
    position: relative;
    left: 20%;
}
.skill-row{
  padding: 5% 10%;

}

.chess{
  width: 80%;
}
hr {
  width: 5%;
  background-color: #EAF6F6;
  border-style: none;
  border-top: 7px dotted gray;
  margin: 5px auto;
}
/* --------------------------------contactme---------------------------------- */
.contact-me{
  text-align: center;
  background-color: #EAF6F6;

  padding: 5% 10%;
}

.get{
  padding-bottom: inherit;
  padding-top: inherit;
}

/* --------------------------------footer----------------------------- */
footer{
  text-align: center;
  padding: 5% 10%;
  background-color: dimgrey;
}

.fa-brands{
  font-size: 2rem;
  color: gray;
  width: 40px;
}


.fa-brands:hover{
  color: #fff;
}
.footer{
  padding-top: inherit;
}
.btn{
  background-color: #11999e;
}


@media (max-width: 651px){
  .skill_pic {
    background-color: #EAF6F6;
    width: 40%;
    position: inherit;
  }
  .table{
    table-layout: fixed;
    /* height: 20px; */
    width: 370px;
    position: relative;
    right: 35px;
    font-size: small;

 }
  .profile_pic{
  background-color: #EAF6F6;
  border: 2px solid #11999E;
  margin-bottom: 2%;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  
}
}
